html {
	background-image: url(black.jpg);
	
}
h1 {
	text-align: center;
	font-size: 4em;
	font-family: 'Fredoka One', cursive;
	color: #ccccff;
	margin-top: 30px;
}

h2 {
	font-family: 'Source Code Pro', monospace;
	text-align: center;
	color: #ccccff;
	font-size: 20px;
	line-height: 5px;
	margin-top: -30px;

}

  form {
    background-color: #ccccff;
    width: 85vw;
    height: 44px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
  }

  input {
    all: unset;
    font-family: 'Source Code Pro', monospace;
    font: 30px;
    color: #000000;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color: #000000;
    opacity: 0.7;

  }

  svg {
    color: #000000;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;

  }