html {
	background-image: url(pastel.png);
	
}
h1 {
	text-align: center;
	font-size: 4em;
	font-family: 'Fredoka One', cursive;
	color: black;
	margin-top: 30px;
}

h2 {
	font-family: 'Source Code Pro', monospace;
	text-align: center;
	color: black;
	font-size: 20px;
	line-height: 5px;
	margin-top: -30px;

}



